site_name: Разработка Space Exodus
site_url: https://space-exodus.github.io/docs/

theme:
  name: material
  language: ru
  palette:
    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

plugins:
  - search:
      lang:
        - en
        - ru
  - mermaid2

copyright: 'Принадлежит и поддерживается Space Exodus. Распространяется под <a style="color: var(--md-typeset-a-color);" href="https://github.com/space-exodus/space-exodus.github.io/blob/master/LICENSE">проприетарной лицензией</a>.'

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      # make exceptions to highlighting of code:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:mermaid2.fence_mermaid_custom
  - attr_list
  - md_in_html
  - toc:
      permalink: true
  - tables
  - pymdownx.betterem
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      linenums: true
  - pymdownx.superfences
  - pymdownx.smartsymbols

nav:
  - Главная: index.md
  - Разработка:
    - development/index.md
    - development/dev-rules.md
    - development/prototypes.md
    - Регламент:
      - Введение: development/regulations/index.md
      - Ответственность разработки: development/regulations/responsibility.md
    - Критические изменения:
      - breaking-changes/index.md
      - breaking-changes/28-05-2025-actions-ecs-overhaul.md
    - Руководства:
      - development/guides/eui.md
      - development/guides/ui-survival.md
      - Руководство по ECS: development/guides/ecs.md
      - development/guides/basic-ui.md
  - QA:
    - qa/index.md
    - qa/documentation.md
  - LVL-дизайн:
    - mapping/index.md
  - Арт-Дизайн:
    - spriting/index.md
  - Редактура вики:
    - wiki/index.md
  - Лор:
    - lore/index.md
    - Монолит:
      - lore/monolith/index.md
      - lore/monolith/basics.md
      - lore/monolith/PhaethonDynasty.md
      - lore/monolith/TransSolarFederation.md
      - lore/monolith/UnitedSovietSocialistPlanets.md
